@import "../../style.sass"

.text-field
  color: #fff !important
  width: 100%
  & > div
    margin: 0
    margin-bottom: $offset
  & > div > div
    background: #00000030
    border-radius: 5px
  label, textarea
    color: #fff !important
  fieldset
    border-color: #ffffff40 !important
  .text-item
    border-radius: 5px
    &--error
      border: 1px solid #ff0d00