.header-placeholder
  height: 50px
  position: relative
  background: #fff
  margin-bottom: 20px

.header
  width: 100%
  height: 50px
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12)
  display: flex
  align-items: center
  padding: 0 20px
  box-sizing: border-box
  background: #fff
  position: fixed
  top: 0
  left: 0
  z-index: 100

.header__text
  font-weight: 500

.header__back
  transform: rotate(90deg)

.header__info
  margin-left: auto
  margin-top: 3px

  a
    margin-left: 10px
    display: inline-block