.test-wrapper
  position: relative

.test
  display: flex
  flex-direction: column

  h3
    text-align: center
    margin: 10px 0
    min-height: 70px

  h4
    margin: 0
    text-align: center
    font-size: 22px
    font-weight: 500

  h5
    display: block
    font-size: 18px
    margin-bottom: 10px

  button
    margin: 5px 0

.test-text
  margin-bottom: 10px
  h2
    font-size: 16px
    font-weight: 500

.round-wrap
  text-align: center
  margin-bottom: 10px

.round-res
  width: 80px
  height: 80px
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  margin: 20px auto
  color: #fff
  font-size: 25px

.bdi-history-card__date
  display: block
  text-align: right
  margin-bottom: 10px
