.logic-error-wrap
  display: flex
  align-items: center
  margin-bottom: 5px
  img
    margin-right: 10px

.hdu-img
  width: 20px

.choose-imgs
  text-align: right
  margin-top: 15px
  img
    margin-left: 5px

.show-mood
  display: flex
  align-items: center