.menu-info-filtered
  position: absolute
  display: none
  width: 100vw
  height: 100vh
  left: 0
  top: 0
  z-index: 999
  background: rgba(98,103,113,0.5)

.menu-info-filtered--active
  display: block

.menu-info
  width: 300px
  height: 100vh
  background: #fff
  position: absolute
  left: -305px
  top: 0
  z-index: 1000
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12)
  padding: 0 20px
  box-sizing: border-box
  transition: .5s left

.menu-info--active
  left: 0

.menu-info__close
  margin-bottom: 10px

.menu-info__h
  font-size: 18px
  margin-left: 20px
  margin-bottom: 20px

.menu-info__item
  display: inline-block
  margin-left: 40px
  margin-bottom: 20px
  color: #9a9a9a
  font-size: 16px
  padding: 5px