.card
  background: #fff
  border-radius: 10px
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  padding: 20px
  margin-bottom: 20px
  position: relative

  &--middle
    padding: 15px

  &--small
    padding: 10px

  &--visited
    opacity: 0.6

  .ellipsis
    /* autoprefixer: off */
    -webkit-box-orient: vertical
    display: -webkit-box
    -webkit-line-clamp: 5
    -webkit-box-orient: vertical
    overflow: hidden
    /* autoprefixer: on */