.page
  padding: 0 20px
  position: relative
  margin-bottom: 80px

.page-bg
  background: url('../../bg.jpg')
  background-size: cover
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  z-index: -1
