.berns-book
  background-image: url('../../img/terapiya-nastroeniya88.jpg')
  background-repeat: no-repeat
  background-position: right
  background-size: 120px
  padding-right: 80px
  height: 140px

//.beck-book
//  background-image: url('../../img/beck.jpg')
//  background-repeat: no-repeat
//  background-size: contain
//  background-position: right
//  padding-right: 80px
//  height: 140px

.read-more
  text-align: right
  margin-top: 10px
  display: block

.copyright
  font-size: 12px
  padding-top: 15px
  color: grey