.errors-checkbox__select
  background: #fff
  border-radius: 10px
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  width: 100%

  span
    font-size: 14px

.info__wrap
  display: flex
  align-items: center
  & > a > svg
    width: 25px
    height: 25px
    margin-left: 10px
    fill: #fff

.errors-checkbox__item
  background: #fff
  border-radius: 10px
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  padding: 10px
  margin-top: 15px
  display: flex
  align-items: center
  font-size: 14px
  width: 100%
  border: none

  &--active
    background: #3F51B5
    color: #fff

.logic-error-item
  width: 20px
  margin-right: 10px