.chat
  display: flex
  flex-direction: column

.messages
  display: flex
  flex-direction: column
  margin: 5px 0

.message
  border-radius: 20px
  padding: 10px 15px
  margin-top: 5px
  margin-bottom: 5px
  display: inline-block

.yours
  align-items: flex-start
  .message
    margin-right: 15%
    background-color: #eee
    position: relative
    &:last-child
      &:before
        content: ""
        position: absolute
        z-index: 0
        bottom: 0
        left: -7px
        height: 20px
        width: 20px
        background: #eee
        border-bottom-right-radius: 15px
      &:after
        content: ""
        position: absolute
        z-index: 1
        bottom: 0
        left: -10px
        width: 10px
        height: 20px
        background: white
        border-bottom-right-radius: 10px

.mine
  align-items: flex-end
  .message
    color: white
    margin-left: 15%
    background: #0085D1
    background-attachment: fixed
    position: relative
    &:last-child
      &:before
        content: ""
        position: absolute
        z-index: 0
        bottom: 0
        right: -8px
        height: 20px
        width: 20px
        background: #0085D1
        background-attachment: fixed
        border-bottom-left-radius: 15px
      &:after
        content: ""
        position: absolute
        z-index: 1
        bottom: 0
        right: -10px
        width: 10px
        height: 20px
        background: white
        border-bottom-left-radius: 10px
        //linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%)