@import "../../../constants/vars.sass"

.logic-errors
  text-align: right
  margin-bottom: 10px
  height: 20px

.mood-badge
  &_0
    background: $range_0
  &_1
    background: $range_1
  &_2
    background: $range_2
  &_3
    background: $range_3
  &_4
    background: $range_4
  &_5
    background: $range_5