@import '../../constants/vars.sass'

.range-mood
  input[type="range"]
    outline: 0
    border: 0
    border-radius: 500px
    width: 90%
    margin: 10px auto
    transition: box-shadow 0.2s ease-in-out

@media screen and (-webkit-min-device-pixel-ratio: 0)
  .range-mood input[type="range"]
    overflow: hidden
    height: 10px
    -webkit-appearance: none
    background-color: #ddd
    &::-webkit-slider-runnable-track
      height: 10px
      -webkit-appearance: none
      color: #444
      margin-top: -1px
      transition: box-shadow 0.2s ease-in-out
    &::-webkit-slider-thumb
      width: 20px
      -webkit-appearance: none
      height: 20px
      background: #fff
      box-shadow: -340px 0 0 320px $range_0, inset 0 0 0 40px $range_0
      transition: box-shadow 0.2s ease-in-out
      position: relative
  #range-input__1::-webkit-slider-thumb
      box-shadow: -340px 0 0 320px $range_1, inset 0 0 0 40px $range_1
  #range-input__2::-webkit-slider-thumb
    box-shadow: -340px 0 0 320px $range_2, inset 0 0 0 40px $range_2
  #range-input__3::-webkit-slider-thumb
    box-shadow: -340px 0 0 320px $range_3, inset 0 0 0 40px $range_3
  #range-input__4::-webkit-slider-thumb
    box-shadow: -340px 0 0 320px $range_4, inset 0 0 0 40px $range_4
  #range-input__5::-webkit-slider-thumb
    box-shadow: -340px 0 0 320px $range_5, inset 0 0 0 40px $range_5