#restartbtn
  text-align: center
  color: #fff
  cursor: pointer
  margin: 20px

.table
  display: table
  height: 100%
  width: 100%
  position: relative

.cell
  display: table-cell
  vertical-align: middle
  position: relative
  width: 100%
  text-align: center

/*------
 *# Pincode
 *----

.login
  opacity: 0

.login-enter
  opacity: 0

.login-enter.login-enter-active
  opacity: 1
  transition: opacity .7s ease-in

#pincode
  position: fixed
  overflow: hidden
  height: 667px
  width: 375px
  background-size: cover
  background-position: center
  color: #fff
  border-radius: 10px
  text-align: center
  top: 50%
  left: 50%
  margin-top: -335px
  z-index: 0

  /* Negative half of height.
  margin-left: -188px

/* Negative half of width.

#numbers
  max-width: 300px
  padding: 0 20px
  margin: 0 auto
  position: relative
  display: block
  -webkit-transition: all 1s ease-out
  -moz-transition: all 1s ease-out
  transition: all 1s ease-out
  opacity: 1

  &.hide
    opacity: 0.3

#pincode button
  width: 70px
  height: 70px
  margin-bottom: 15px
  background-color: rgba(0, 0, 0, 0.30)
  border: 0
  color: #fff
  font-size: 30px
  line-height: 50px
  border-radius: 100%
  opacity: 1
  outline: 0
  border: 2px solid #272a2f30

  &:active
    background-color: rgba(0, 0, 0, 0.5)
    outline: 0

.fields
  margin: 20px 0
  position: relative
  display: flex
  justify-content: center
  width: 100%
  height: 30px

  .numberfield
    text-align: center

    span
      height: 10px
      width: 10px
      border: 2px solid #fff
      background-color: transparent
      border-radius: 100%
      position: relative
      display: inline-block
      text-align: center

    &.active span
      background-color: #fff
      animation: grow .5s ease

    &.wrong span
      animation: wrong .5s ease
      background-color: transparent

    &.success span
      background: #3ebb3d
      border: 1px solid #3ebb3d
      animation: success .5s ease

.pincode__actions
  width: 80px
  height: 80px
  font-size: 20px
  display: flex
  align-items: center
  justify-content: center

/*------
 *# Toast Grid
 *----

.grid
  list-style: none
  margin-left: -20px

.grid__col--1-of-3, .grid__col--2-of-6, .grid__col--4-of-12
  width: 33.33333%

.grid__col--1-of-4, .grid__col--2-of-8, .grid__col--3-of-12
  width: 25%

.grid__col
  box-sizing: border-box
  display: inline-block
  min-height: 1px
  padding-left: 20px
  vertical-align: top

.grid__col--centered
  display: block
  margin-left: auto
  margin-right: auto

.grid__col--d-first
  float: left

.grid__col--d-last
  float: right

.grid--no-gutter
  margin-left: 0
  width: 100%

  .grid__col
    padding-left: 0

  .grid__col--span-all
    margin-left: 0
    width: 100%

.grid__col--ab
  vertical-align: bottom

.grid__col--am
  vertical-align: middle

@keyframes grow
  50%
    transform: scale3d(1.3, 1.3, 1.3)

  100%
    transform: scale3d(1, 1, 1)

@keyframes wrong
  20%
    background: #de1406
    border: 1px solid #de1406

  40%
    transform: translate(-15px, 0)

  60%
    transform: translate(10px, 0)

  80%
    transform: translate(-5px, 0)

@keyframes success

  50%
    transform: scale3d(1.3, 1.3, 1.3)

  100%
    transform: scale3d(1, 1, 1)