.badge
  display: flex
  align-items: center
  justify-content: center
  padding: 5px
  border-radius: 50%
  color: #fff
  font-size: 12px
  position: absolute

  &--normal
    width: 15px
    height: 15px

  &--small
    width: 5px
    height: 5px