@import 'constants/vars.sass'

*:focus
  outline: none !important

body
  margin: 0
  padding: 0
  font-family: Roboto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  box-sizing: border-box
  overscroll-behavior-y: contain
  font-size: 14px
  line-height: 1.3

h3
  font-weight: 500
  margin: 0
  margin-bottom: 10px

a
  color: inherit
  text-decoration: none
  -webkit-tap-highlight-color: #a2a2a230

b
  font-weight: 500

li
  font-size: 14px
  line-height: 1.5

button a
  width: 100%

.offset-top
  margin-bottom: $offset

.visualy-hidden
  display: none

