.message
  padding: .75rem 1.25rem
  border: 1px solid transparent
  border-radius: .25rem
  width: 100%
  box-sizing: border-box

  &--danger
    color: #721c24
    background-color: #f8d7da
    border-color: #f5c6cb

  &--success
    color: #155724
    background-color: #d4edda
    border-color: #c3e6cb